---
import Layout from '../layouts/Layout.astro';
import Live2DCanvas from '../components/Live2DCanvas.astro';
import MainInput from '../components/chat/Main_input.astro';
import SettingsDrawer from '@components/sidebar/SettingsDrawer.astro';
import Icon from '@components/sidebar/Icon.astro';
---

<Layout title="WebSocket Client">
      <div class="layout">
        <aside class="sidebar relative">
          <button id="toggleBtn" class="absolute right-0 top-0 bottom-0 bg-black" onclick="  const sidebar = document.querySelector('.sidebar');
          sidebar.classList.toggle('expanded');"><Icon id="toggleBtn" name='chevron_right'/></button>
          <SettingsDrawer/>  
        </aside>

        <main class="grid">
              <Live2DCanvas />
              <footer class="footer p-2 bottom-0 h-auto">
                <MainInput label="Chat" />
              </footer>
            </main>

      </div>
</Layout>
<style>
.layout {
  display: grid;
  height: 110dvh;
  grid-template-columns: auto 1fr; /* Sidebar + contenido */
}

.sidebar {
  background: #1e1e2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  width: 30px; /* Colapsado */
  overflow: hidden;
  transition: width 0.3s ease;
}
main {
  height: 110dvh;
}
.sidebar.expanded {
  width: 470px; /* Expandido */
}

.sidebar button {
  border: none;
  color: white;
  font-size: 1.8rem;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}

.sidebar nav {
  margin-top: 20px;
  width: 100%;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  white-space: nowrap;
}

.sidebar nav a:hover {
  background: #333;
}

.sidebar nav a span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.expanded nav a span {
  opacity: 1;
}
</style>
<script>
    import { emitter } from "../lib/Emitter";

    console.log("emitter","inited");
    function initializeForm() {
        const form = document.querySelector<HTMLFormElement>("#chat-form");
        const sendInput = document.querySelector<HTMLButtonElement>("#sendInput");
        console.log("form",form,"sendInput",sendInput);
        if (!form || !sendInput) return;
        sendInput.addEventListener("click", (e) => {
            sendTextMessage();
        })
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            sendTextMessage();
        });
    }
    function sendTextMessage() {
            const Input = document.querySelector<HTMLInputElement>("#chat-form #Input_text");
            console.log("Input",Input);
            if (!Input) return;
            console.log(Input.value);
            emitter.emit("send:text-input", Input.value);
            Input.value = "";
    }
    document.addEventListener("DOMContentLoaded", initializeForm);
</script>