---
// src/components/NumberInput.astro
import FormField from './FormField.astro';

interface Props {
  label: string;
  value: number;
  id: string;
}
const { label, value,id } = Astro.props;
---
<FormField {label} class="flex-row items-center justify-between py-2">
  <div class="relative flex items-center">
    <input
      type="number"
      id={id}
      value={value}
      class="bg-gray-700 border border-gray-600 scheme-light-dark rounded-md py-1.5 pl-3 pr-8 text-white w-28 text-right"
    />
  </div>
</FormField>